@tailwind base;

* {
  scrollbar-width: thin;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 14px;
}

@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

:root {
  --transition-duration: 500ms;
}

.menu-icon {
  transition: transform var(--transition-duration);
}

.menu-icon-top {
  stroke-dasharray: 40 160;
  transition: stroke-dashoffset var(--transition-duration);
}

.menu-icon-middle {
  transform-origin: 50%;
  transition: transform var(--transition-duration);
}

.menu-icon-bottom {
  stroke-dasharray: 40 85;
  transition: stroke-dashoffset var(--transition-duration);
}

.menu-open {
  transform: rotate(45deg);
}

.menu-open .menu-icon-top,
.menu-open .menu-icon-bottom {
  stroke-dashoffset: -64px;
}

.menu-open .menu-icon-middle {
  transform: rotate(90deg);
}

@layer base {
  :root {
    --font-sans: "Rubik";
    --font-serif: var(--font-sans);
    --font-heading: var(--font-sans);

    --primary: rgb(98, 70, 234);
    --primary-hover: rgba(98, 70, 234, 0.9);

    --secondary: #fffffe;
    --secondary-hover: rgba(230, 62, 121, 0.7);

    --contrast: #d1d1e9;
    --border: rgba(98, 70, 234, 0.2);

    --success: #28a745;
    --success-hover: #218838;
    --error: #dc3545;
    --error-hover: #c82333;
    --info: #007bff;
    --info-hover: #0056b3;

    --text-heading: #2b2c34;
    --text-default: #2b2c34;
    --text-muted: #2b2c34;
    --text-button: #fffffe;

    --bg-page: #fffffe;
    --bg-contrast: #d1d1e9;
    --darkContrast: rgba(32, 30, 46, 0.1);
  }

  .dark {
    --font-sans: "Rubik";
    --font-serif: var(--font-sans);
    --font-heading: var(--font-sans);

    --primary: 7 86% 62%;
    --primary-hover: hsla(7, 86%, 62%, 0.7);

    /* --primary: rgba(242, 95, 76, 1); */
    /* --primary-hover: rgba(242, 95, 76, 0.7); */

    --secondary: rgba(230, 62, 121, 1);
    --secondary-hover: rgba(230, 62, 121, 0.7);

    --success: #28a745;
    --success-hover: #218838;
    --error: #dc3545;
    --error-hover: #c82333;
    --info: #007bff;
    --info-hover: #0056b3;

    --contrast: rgba(32, 30, 46, 1);
    --contrast-hover: rgba(23, 22, 33, 1);
    --border: rgba(242, 95, 76, 0.15);
    --border-secondary: rgba(255, 137, 6, 0.15);

    --accent: rgba(127, 90, 240);
    --accent-hover: rgba(127, 90, 240, 0.75);

    --text-heading: #fffffe;
    --text-default: #fffffe;
    --text-muted: #898991;

    --bg-page: #0f0e17;

    --radius: 0.5rem;
  }
}

@keyframes sun-animation {
  0% {
    transform: rotate(180deg) scale(0.5);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }
}

.sun-icon {
  animation: sun-animation 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

@keyframes moon-animation {
  0% {
    transform: rotate(90deg) scale(0.5);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }
}

.moon-icon {
  animation: moon-animation 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275)
    forwards;
}

html,
body,
:root {
  height: 100%;
}

@layer base {
  * {
    @apply border-border;
    font-family: var(--font-sans);
  }
}

@layer utilities {
  .bg-page {
    background-color: var(--bg-page);
  }

  .text-page {
    color: var(--text-default);
  }

  .text-muted {
    color: var(--text-muted);
  }

  .bg-contrast {
    background-color: var(--contrast);
  }

  .bg-contrast-hover {
    background-color: var(--contrast-hover);
  }
}

@layer components {
  .btn {
    @apply inline-flex items-center justify-center rounded bg-transparent font-medium text-center text-base text-button leading-snug transition py-2.5 px-2 md:px-4 ease-in duration-200 focus:ring-primary focus:ring-offset-primary focus:ring-2 focus:ring-offset-2 hover:bg-contrast dark:text-button cursor-pointer;
  }

  .btn-primary {
    @apply btn font-semibold bg-primary hover:bg-primary-hover;
  }

  .btn-primary-hover {
    @apply btn font-semibold bg-primary-hover hover:bg-primary;
  }

  .btn-secondary {
    @apply btn text-default border border-border;
  }

  .btn-sec {
    @apply btn font-semibold bg-secondary hover:bg-secondary-hover;
  }

  .btn-tertiary {
    @apply btn border-none shadow-none text-primary py-2.5 px-2;
  }

  .btn-success {
    @apply btn font-semibold bg-success hover:bg-success-hover focus:ring-success focus:ring-offset-success;
  }

  .btn-error {
    @apply btn font-semibold bg-error hover:bg-error-hover focus:ring-error focus:ring-offset-error;
  }

  .btn-info {
    @apply btn font-semibold bg-info hover:bg-info-hover focus:ring-info focus:ring-offset-info;
  }
}

.sine {
  transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  background: transparent;
  border-radius: 10px;
  scrollbar-gutter: stable;
}

.custom-scrollbar::-webkit-scrollbar-track {
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgb(100 116 139 / 1);
  border-radius: 10px;
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgb(100 116 139 / 0.5);
}
