.CodeMirror {
  background: #201e2e !important;
  color: var(--text-default) !important;
  border-color: var(--border) !important;
}

.editor-preview {
  background: #201e2e !important;
  color: var(--text-default) !important;
  border-color: var(--border) !important;
}

.editor-toolbar {
  background: #201e2e !important;
  color: var(--text-default) !important;
  border-color: var(--border) !important;
}

.editor-toolbar button.active,
.editor-toolbar button:hover {
  background: #0f0e17 !important;
  border-color: var(--border) !important;
}

.CodeMirror-cursor {
  color: var(--text-default) !important;
  border-color: var(--text-default) !important;
}

.CodeMirror-cursors {
  color: var(--text-default) !important;
  border-color: var(--text-default) !important;
}

.cm-s-easymde .cm-header-1 {
  font-size: 1.4rem !important;
}

.cm-s-easymde .cm-header-2 {
  font-size: 1.3rem !important;
}

.cm-s-easymde .cm-header-3 {
  font-size: 1.25rem !important;
}

.cm-s-easymde .cm-header-4 {
  font-size: 1.2rem !important;
}

.cm-s-easymde .cm-header-5 {
  font-size: 1.15rem !important;
}

.cm-s-easymde .cm-header-6 {
  font-size: 1.1rem !important;
}


[data-tooltip] {
  position: relative;
  cursor: pointer;
}

[data-tooltip]::before {
  content: attr(data-tooltip);
  position: absolute;
  bottom: -34px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--bg-page);
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid var(--border);
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  font-size: 0.75rem;
}

[data-tooltip]:hover::before {
  opacity: 1;
}

.opac-trans {
  transition: opacity 0.3s ease;
}
