package pages

import (
	"github.com/Paintersrp/zettel/pkg/web/views/layouts/base"
	"github.com/Paintersrp/zettel/pkg/web/views/components/auth"
	"github.com/Paintersrp/zettel/internal/db"
)

templ Login(user db.User, vaults []db.Vault) {
	@base.Layout(user, vaults) {
		<div class="min-h-full w-full">
			@auth.LoginForm()
		</div>
	}
}
