package pages

import (
	"github.com/Paintersrp/zettel/pkg/web/views/layouts/base"
	"github.com/Paintersrp/zettel/pkg/web/views/components/auth"
)

templ Register() {
	@base.Layout() {
		<div class="min-h-full w-full">
			@auth.RegisterForm()
		</div>
	}
}
