package auth

import "github.com/Paintersrp/zettel/pkg/web/views/components/icons"

templ ProviderButtons() {
	<div class="flex flex-col gap-1">
		<a href="/v1/auth/github/login" class="btn-secondary" type="button">
			<span class="size-4 mr-2">
				@icons.GitHub()
			</span>
			<span>Github</span>
		</a>
		<a href="/v1/auth/google/login" class="btn-secondary" type="button">
			<span class="size-4 mr-2">
				@icons.Google()
			</span>
			<span>Google</span>
		</a>
	</div>
}
